body, header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header p {
    width: 55rem;
}

main {
    margin: 100px;
    margin-top: 100px;
    width: 55rem;

    line-height: 1.5rem;

    font-family: Arial, Helvetica, sans-serif;
}

h1, header p {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-family: Play;
    color: #0f4761;
    font-size: 1.5rem;
}

p, li {
    font-size: 1.2rem;
}

/* -------- Classes -------- */
/* --- Text Classes --- */
.bold {
    font-weight: 700;
}

.cyanLine {
    height: 3px;
    width: 60rem;
    background-color: #4C94D8;
}

.dateIndentation {
    white-space: nowrap;
}

.workTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* ----- Resume Sections ----- */
/* --- Professional Profile Portion --- */
#professionalProfileSection {

}

/* --- Technical Skills Portion --- */
#technicalSkillsSection {
}

#technicalSkillsSection ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 25%);
}

.techSkillButton {
    /* Button Properties */
    background-color: #60AEE3;
    width: 6rem;
    margin: 5px;
    border-radius: 10%;

    /* Text Properties */
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
}

/* --- Education Section --- */
#educationSection {
    margin-bottom: 300px;
}

#projectsSection {

}

#workExperienceSection {
    
}
